.ss {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('splashscreen.jpg'); 
    z-index: 1000;
    transition: all 1s ease-in-out;
}

.splash-text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}


.fade-out {
    opacity: 0;
}


.slide-up {
    opacity: 0;
    transform: translateY(-100%);
}


.zoom-out {
    opacity: 0;
    transform: scale(0.5);
}


.rotate-out {
    opacity: 0;
    transform: rotate(180deg);
}
