body {
  background-color: #1f242d;
}
.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #1f242d;
  padding: 15px 30px;
  color: white;
  margin-right: 150px;
  z-index: 1;
}

.logo {
  height: 60px;
  width: 60px;
  margin-left: 180px;
  border-radius: 100px;
}


.nav-bar {
  display: flex;
}

.list {
  display: flex; 
  list-style: none;
  gap: 20px; 
  padding: 0;
  margin: 0;
  margin-right: 300px;
}


.list li {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.list li:hover a {
  color: yellow; 
}
a {
  text-decoration: none;
  color: white;
}
@media (max-width: 768px) {
  .header{
    position: static;
    flex-direction: column;
    width: auto;
    margin-right: 0;
  }
  .header .logo {
    margin-left: 0;
  }
  .header .list {
    margin: 0 25px;
   flex-wrap: wrap;
  }
}
