
.password-validator-container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .validator {
    color: #333;
  }
  
  input {
    padding: 10px;
    width: 80%;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
  }
  
  input:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  .error-message {
    font-size: 1rem;
    margin-top: 20px;
    text-align: left;
  }
  
  .error-message.invalid {
    color: red;
  }
  
  .error-message.valid {
    color: green;
  }
  
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .spun {
    font-size: 1.2rem;
  }
  