.portfolio {
    padding: 100px ;
    background-color: black;
    color: white;
    min-height: 20vh;
    text-align: center;
}

.heading {
    margin-top: -20px;
}

.portfolio h2 {
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

.portfolio h2 .proj {
    color: yellow;
}

.portfolio-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));  */
    grid-template-columns: repeat(3, 2fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem yellow;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ea);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    transform: translateY(110%);
    transition: 1s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer p {
    font-size: 1rem;
    margin: 0.3rem 0 1rem;
}

.view-code {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: black;
    border-radius: 50%;
    border: 2px solid yellow;
    margin-bottom: 20px;
}

.portfolio-layer h4 {
    font-size: 1rem;
}


@media (max-width: 1024px) {
    .portfolio-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 768px) {
    .portfolio h2 {
        font-size: 2rem;
    }

}

@media (max-width: 480px) {
    .portfolio h2 {
        font-size: 1.8rem;
        margin-top: 20px;
    }
    .portfolio {
        padding: 10px;
    }
}

