.about {
    padding: 50px;
    background-color: #323946;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 200px;
    margin-top: 60px;
}

.about-img img {
    width: 400px;
    height: 400px;
    border-radius: 500px;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content {
    max-width: 500px;
    
}

.about-content h2 {
    text-align: left;
    line-height: 0.5;
}

.about-content h3 {
    font-size: 2.6rem;
    line-height: 0;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.bnt {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: yellow;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.bnt:hover{
    background-color: #333;
    color: #ffcc00;
    transform: scale(1.05);
}
.about-me{
    color: yellow;
}
.developer{
    color: green;
    line-height: 2;
}
@media (max-width: 690px) {
    .about-img img {
        border-radius: 50px;
        height: 100%;
        width: 100%;
    }
    .about-content h2 {
        line-height: 1;
    }
    .about-container {
        gap: 65px;
    }
}
