.contact {
  text-align: center;
  padding: 50px;
  background-color: #323946;
  color: white;
  min-height: 90vh;
}

.head {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: white;
  margin-top: 90px;
}
.me{
  color: yellow;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.input-box input,
textarea {
  width: 45%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: #222;
  color: white;
}

textarea {
  width: 94%;
  resize: none;
}

.ntb {
  padding: 12px 25px;
  border: none;
  background: yellow;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}

.bnn:hover {
  background: orange;
}
.success-message{
  color: green;
  font-size: 1.2rem;
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .input-box {
    flex-direction: column;
    align-items: center;
  }

  .input-box input,
  textarea {
    width: 90%;
  }
}
