.education-container {
    text-align: center;
    padding: 40px;
    min-height: 100vh;
    background-color: #323946;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 100px;
    color: white;
  }
  
  .highlight {
    color: yellow;
  }
  
  
  .education-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .education-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .education-card:hover {
    transform: scale(1.05);
  }
  
  .edu-img {
    width: 100%;
    height: 143px;
    border-radius: 8px;
  }
  .education-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .education-cards {
      flex-direction: column;
      align-items: center;
    }
  }
  