form {
    display: flex;
    flex-direction: column; 
    width: 300px; 
    margin: 20px auto; 
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  h2{
    text-align: center;
  }
  .image{
    height: 100px;
    width: 100px;
    margin-left: 100px ;
  }